<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action method="post" th:object="${boardFormDto}">
<ul>
    <li>TITLE : <input type="text" th:field="*{title}" th:value="${board.getTitle()}" /></li>
    <li>CONTENT : <input type="text" th:field="*{content}" th:value="${board.getContent()}" ></li>
</ul>
    <button type="submit"> 수정완료</button>
<!--<a th:href="@{/board/editBoard/{id}(id=${board.id})}">수정완료</a>-->
</form>
</body>
</html>
