<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action method="post" th:object = "${boardDto}">
    <ul>
        <li><input type="text" th:field="*{title}" th:value ="${board.title}"></li>
        <li><input type="text" th:field="*{content}" th:value="${board.content}" ></li>
    </ul>
    <button type="submit"> 수정 완료</button>
</form>
</body>
</html>