<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action method="post" th:object="${boardDto}">
    TITLE<br>
    <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
    <br><br>
    CONTENT<br>
    <textarea th:field="*{content}" placeholder="내용도 입력하세요"></textarea>
    <br>
    <button type="submit">추가하기</button>
</form>

</body>
</html>