
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="path/jquery-3.3.1.min.js"></script>

<form id="add_reply">
  <input id="reply_content1" name="id" class="input_class"/>
  <input id="reply_content" name="content" class="input_class"/>
  <button TYPE="button" id="reply_submit">등록</button>
</form>

<style>
  .input_class{

  }
  #reply_content{

  }
</style>
<script>
  $('#reply_submit').click(function (){

    $.ajax({
      type: "get",
      url: "/add/reply",
      data: $('#add_reply').serialize(), // 컨트롤러로 보내는 데이터
      success : function (){ // 컨트롤러에서 리턴한 데이터
        console.log()
      },
      error : function (e){
        console.log(e)
      }
    });

    console.log($("#reply_content").val());
  });

</script>