<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"><head>
    <title>Insert title here</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/postrequest.js"></script>
    <script src="/getrequest.js"></script>
</head>
<body>
<div id="postResultDiv" align="center"></div>
<div class="container">
    <h2>댓글 페이지 입니다</h2>
    <form id="bookForm">
        <div class="form-group">
            <label for="bookId">회원 ID:</label> <input type="text"
                                                        class="form-control" id="bookId" placeholder="ID를 입력해 주세요"
                                                        name="bookId">
        </div>
        <div class="form-group">
            <label for="bookName">댓글 제목:</label> <input type="text"
                                                            class="form-control" id="bookName"
                                                            placeholder="댓글 제목을 입력해 주세요"
                                                            name="bookName">
        </div>
        <div class="form-group">
            <label for="author">댓글 내용 :</label> <input type="text"
                                                        class="form-control" id="author" placeholder="댓글 내용을 입력해 주세요"
                                                        name="author">
        </div>
<!--        <div class="form-group form-check">-->
<!--            <label class="form-check-label"> <input-->
<!--                    class="form-check-input" type="checkbox" name="remember">Remember me-->
<!--            </label>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
    <br/>
    <div class="col-sm-7" style="margin: 20px 0px 20px 0px">
        <button id="getALlBooks" type="button" class="btn btn-primary">모든 댓글 가져오기</button>
        <div id="getResultDiv" style="padding: 20px 10px 20px 50px">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>
</body>
</html>