<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F2D7D5;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🌺</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-3">
        <div class="card text-center">
            <h5 class="card-header">Data transmission using ajax</h5>
            <div class="card-body">
                <h5 class="card-title">hello! 😀 </h5>
                <p class="card-text">
                    Enter the text you want to send and click the button.</p>
                <form class="card-text">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <input id="input" placeholder="Please enter text" type="text" class="form-control">
                            <button class="btn btn-outline-secondary" type="button" onclick="dataSend()">submit</button>
                        </div>
                    </div>
                    <div id="resultDiv">
                        <p th:if="${msg}!=null" th:text="${msg}"></p>
                    </div>
                </form>
                <a href="https://github.com/leyuri" class="btn" style="background-color: #EBDEF0">Go github</a>
            </div>
        </div>
    </div>
</div>

<script src="/js/storeDataSendAjax.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>